<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <springProperty name="APP_NAME" source="spring.application.name" defaultValue="apps" />
  <springProperty name="LOG_PATH" source="logging.file.path" defaultValue=".logs/"/>
  <springProperty name="ROOT_LOG_LEVEL" source="logging.level.root" />

  <appender name="appLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/apps.log</file>
    <rollingPolicy
      class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>apps.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>

    <encoder>
      <charset>UTF-8</charset>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} --- [${APP_NAME:-}] [%thread] %-5level | requestId: [%X{requestId:-}] | trace: [%X{traceId:-}-%X{spanId:-}] : %logger{36} | %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="metricsLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/metrics.log</file>
    <rollingPolicy
      class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>metrics.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>

    <encoder>
      <charset>UTF-8</charset>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} --- [${APP_NAME:-}] [%thread] %-5level | requestId: [%X{requestId:-}] | trace: [%X{traceId:-}-%X{spanId:-}] : %logger{36} | %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="errorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/error.log</file>
    <rollingPolicy
      class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>error.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>

    <encoder>
      <charset>UTF-8</charset>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} --- [${APP_NAME:-}] [%thread] %-5level | requestId: [%X{requestId:-}] | trace: [%X{traceId:-}-%X{spanId:-}] : %logger{36} | %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="traceLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/trace.log</file>
    <rollingPolicy
      class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>trace.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>

    <encoder>
      <charset>UTF-8</charset>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} --- [${APP_NAME:-}] [%thread] %-5level | requestId: [%X{requestId:-}] | trace: [%X{traceId:-}-%X{spanId:-}] : %logger{36} | %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="com.nantaaditya.example.listener.AppObservationListener" additivity="false">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="metricsLog" />
  </logger>

  <logger name="com.nantaaditya.example.configuration.TraceLogConfiguration" additivity="false">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="traceLog" />
  </logger>

  <logger name="com.nantaaditya.*" additivity="false" level="WARNING">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="errorLog" />
  </logger>

  <root level="${ROOT_LOG_LEVEL}">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="appLog" />
  </root>

</configuration>